.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  color: white;
  font-family: 'Sarpanch', sans-serif;
  background-color: black;
}

/* SECTIONS */
.complainClass .miniTitleClass{
  text-align: center;
}
.todayBannerClass{

}
.todayBannerClass .temperatureClass{

}
.todayDetailClass{
  background-color: rgb(39, 37, 37);
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.upcomingWeekClass{

}


/* COMPONENTS */
.hourDisplayClass{

}
.hourDisplayClass .temperatureClass{
  font-size: 10px;
  margin: 0;
}
.hourDisplayClass .sunSymbolClass{
  font-size: 10px;
  margin: 0;
}
.hourDisplayClass .hourClass{
  font-size: 10px;
  margin: 0;
}
.scrollerClass{
  background-color: white;
  height: 30px;
  width: 150px;
  margin: 0 auto;
  margin-top: -15px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.scrollerClass .highlightedDotClass{
  background-color: black;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 2px;
}

.scrollerClass .dotClass{
  background-color: grey;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  margin: 2px;
  cursor: pointer;
}

.todaySummaryClass{
  font-family: 'Orbitron', sans-serif;
  height: 300px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.dayRowClass{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weekdayDisplayClass{
  text-align: left;
  margin-bottom: 5px;
}
.weekdayRowTempClass{
  display: flex;
  align-items: center;
}

/* ELEMENTS */
.cityClass{
  margin-top: 60px;
  font-size: 60px;
}

.linkClass{
  font-size: 10px;
  margin: 20px;
  color: white;
}
.miniTitleClass{
  font-size: 10px;
  margin: 4px;
  margin-left: 10px;
  margin-top:10px;
  margin-bottom: 0px;
  text-align: left;
}
.sunSymbolClass{
  width: 35px;
  height: 35px;
  background-size: cover;
  background-repeat: none;
}
.sunSymbolClass path{
  fill: white;
}

.temperatureClass{
  font-size: 30px;
  font-weight: bold;
  margin: 5px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.temperatureClass.min{
  font-weight: 400;
}

.temperatureClass.current{
  font-weight: 400;
  font-size: 50px;
}

.weekdayClass{
  font-size: 30px;
  margin: 0px;
  margin-left : 10px;
  font-weight: bold;
}