.App {
  text-align: center;
  width: 400px;
  margin: 0 auto;
  color: white;
  font-family: 'Sarpanch', sans-serif;
  background-color: black;
}

/* SECTIONS */
.complainClass{

}
.todayBannerClass{

}
.todayBannerClass .temperatureClass{

}
.todayDetailClass{
  background-color: rgb(39, 37, 37);
  display: flex;
}
.upcomingWeekClass{

}


/* COMPONENTS */
.hourDisplayClass{

}
.hourDisplayClass .temperatureClass{
  font-size: 10px;
  margin: 0;
}
.hourDisplayClass .sunSymbolClass{
  font-size: 10px;
  margin: 0;
}
.hourDisplayClass .hourClass{
  font-size: 10px;
  margin: 0;
}
.scrollerClass{

}
.todaySummaryClass{
  font-family: 'Orbitron', sans-serif;
  background-image: url(/planets/uranus.jpg);
  height: 300px;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}
.dayRowClass{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.weekdayDisplayClass{
  text-align: left;
}
.weekdayRowTempClass{
  display: flex;
  align-items: center;
}

/* ELEMENTS */
.cityClass{
  margin-top: 60px;
}
.hourClass{

}
.linkClass{
  font-size: 10px;
}
.miniTitleClass{
  font-size: 10px;
  margin: 2px;
  margin-left: 10px;
}
.sunSymbolClass{
  width: 50px;
  height: 50px;
  background-size: cover;
  background-repeat: none;
}
.sunSymbolClass path{
  fill: white;
}

.temperatureClass{
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
}

.temperatureClass.min{
  font-weight: 400;
}

.temperatureClass.current{
  font-weight: 400;
  font-size: 50px;
}

.weekdayClass{
  font-size: 30px;
  margin: 10px;
  font-weight: bold;
}